@{
    ViewBag.Title = "Confirm Email";
}

<div class="page-header parallax clearfix" style="background-image:url(http://placehold.it/1200x500&amp;text=IMAGE+PLACEHOLDER);">
    <div class="title-subtitle-holder">
        <div class="title-subtitle-holder-inner">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
</div>
<!-- End Page Header -->
<!-- Breadcrumbs -->

<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">ConfirmEmail</li>
        </ol>
    </div>
</div>

<div class="container">
    <div>
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
    </div>
