@{
    ViewBag.Title = "About";
}


<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#toggle").click(function () {
            var elem = $("#toggle").text();
            if (elem == "Read More") {
                //Stuff to do when btn is in the read more state
                $("#toggle").text("Read Less");
                $("#text").slideDown();
            } else {
                //Stuff to do when btn is in the read less state
                $("#toggle").text("Read More");
                $("#text").slideUp();
            }
        });
    });
</script>



        <!-- Start Page Header -->
        <div class="page-header parallax clearfix" style="background-image:url(http://placehold.it/1200x500&amp;text=IMAGE+PLACEHOLDER);">
            <div class="title-subtitle-holder">
                <div class="title-subtitle-holder-inner">
                    <h2>About Gospel Inn</h2>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Breadcrumbs -->
        <div class="lgray-bg breadcrumb-cont">
            <div class="container">
                <ol class="breadcrumb">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
        <!-- Start Body Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
				<div class="container">
					<h2>Welcome to Gospel Inn</h2>
					<hr class="sm">
					<h4>THE STORY OF OUR COMMISSION</h4>
					<p>
						On the 13th January 1990, Gospel Inn Ministry was planted as Christian Life Fellowship in R C M Primary School Ugwolawo with less than 20 people including 2 little girls in attendance. The Ugwolawo fellowship later changed her name Gospel Inn Ministry in 1993.This transitions were done through a peaceful understanding between the Ugwolawo fellowship and Christian Life Fellowship authority.
						<br /><span class="label label-primary">OUR VISION</span>   : Translating the story of the Good Samaritan into practical ministry tools.
						<br /> <span class="label label-primary">OUR MISSION </span>    : Releasing Destinies and Reviving Nations

					</p>

					<h4>OUR MANDATE  (LUKE 10:30-37) THE STORY  OF THE GOOD SAMARITAN</h4>
					<p>


						<blockquote>
					<p>
						30 “Then Jesus answered and said: "A certain man went down from Jerusalem to Jericho, and fell among thieves, who stripped him of his clothing, wounded him, and
						departed, leaving him half dead.”
						31 “Now by chance a certain priest came down that road. And when he saw him, he passed by on the other side.”
						32 “Likewise a Levite, when he arrived at the place, came and looked, and passed by on the other side.”
						33 “But a certain Samaritan, as he journeyed, came where he was. And when he saw him, he had compassion.”
						34 “So he went to him and bandaged his wounds, pouring on oil and wine; and he set him on his own animal, brought him to an inn, and
						took care of him”.
						35 “On the next day, when he departed, he took out two denarii, gave them to the innkeeper, and said to him, 'Take care of him; and
						whatever more you spend, when I come again, I will repay you.”
						36 “So which of these three do you think was neighbor to him who fell among the thieves?"
						37 “And he said, "He who showed mercy on him." Then Jesus said to him, "Go and do likewise."
					</p>  <cite>LUKE 10:30-37</cite> </blockquote>








					<br />

					<b style="color:blue"> SUMMARY</b> :  The following thoughts from the Samaritan story are pictures of our line of ministries:<br />

					The man in our story had a journey (Every person has and is on a journey to make with life and in life. This journey is called destiny).<br />

					The man made his journey downward instead of an upward pilgrimage. He was “travelling down” from Jerusalem to Jericho. We are called and Commissioned at Gospel Inn to point men the upward way.<br />
					He fell among thieves   - who robbed him, wounded and stripped him and left him half dead. Many destinies today are victims of “the thief” –the devil-who comes round to steal to kill and to destroy (John 10:10).
					<br />

					<div id="text" style="display:none">

						<b style="color:blue"> PASSING PRIESTS AND LEVITES</b> :
						The professional religious service men passed by the wounded traveler, but passed on in a hurry. Probably they had to meet up with some routine service around their religious chores or they had no means to help; or they just ignored the dying man (half dead) because they lacked the piety of compassion.<br />
						We teach men and women at Gospel Inn to equip with the tools of the Samaritan to help the wounded on the highways and sideways of this life.<br />
						Our chief utensils at Gospel Inn is neither professionalism nor sophistication but availability adaptability and excellence. We teach men to ascend to meet God and condescend to meet men where they are; and just as they are, and to mend lives as part of God’s crew in this urgent end time soul hunt.
						<br />
						<b style="color:blue">OUR PILLARS OF OPERATION</b>  : Are anchored on the Samaritan story. Every soul is a destiny: such barriers as ethnic enmity, gender, racial or class difference, (like Samaritans and Jews) or the background of men cannot come between us and the task of reaching, healing, releasing destinies, and reviving nations. Any man still breathing is not beyond the help of the Good Samaritan and there is no nation we can’t reach.


						</p>

						<h4>VIRTUES OF THE SAMARITAN</h4>
						<p>

							At Gospel Inn we study and teach the virtues and strengths of the Samaritan, trusting God to equip us with the same ways, and strength, and that through us men might be saved healed equipped and released to fulfill the purpose of God. Our mentor the Good Samaritan came by but he didn’t pass on.<br />
							He had compassion, dressed the wounds poured oil wine, lifted the man, placed him on his beast and took him to an  Inn, paid for the lodgings and the medicals, and left with a promise to visit again. The Samaritan for us is the Lord Jesus, the friend of strangers who is coming again.

							<br />


							<b style="color:blue">GOSPEL INN</b> :
							The Samaritan took the wounded man to an inn; for the purpose of rest, care, and recovery. This we represent in the through the spiritual care services at the various Gospel Inn Fellowship branches


							<br />


							<b style="color:blue">FACILITIES FOR CHRIST</b>  : Gospel Inn is also into raising care facilities such as
							<ul>
								<li>Solid Rock Schools to raise young destinies</li>
								<li>Shunem Guest Houses</li>
								<li>Campres (Camp Of His Presence) Project</li>
							</ul>


							<br />


							<b style="color:blue">SUBSIDIARY MINISTRIES</b>
							<ul>

								<li>Vine Drama Ministry</li>
								<li>Strasoda  (Strategic  Sons and Daughters Forum)</li>
								<li>Alabaster Women and Singles Ladies Ministry</li>
								<li>Living Voices Music Ministry</li>
								<li>FELISO (Festival Of Living Songs) VISION</li>
								<li>Gospel Inn Literature Trust (GILT)</li>
								<li>Gospel Inn Children Ministry</li>
								<li>Gospel Inn Children Ministry</li>
								<li>Turning  Point Radio Outreach</li>
							</ul>


							<br />


							<b style="color:blue">POURING OIL AND WINE (The Samaritan had oil and wine)</b>
							<br />
							Oil and wine are emblems or symbols of the strong ministries of The Holy Spirit. At Gospel Inn, we emphasis The Holy Spirit Ministry as oil and wine in our commission as follows:

							<ul>
								<li>Oil represents – Power, light, healing.</li>
								<li>Wine represents – Encounter, Worship, Joy, revival, zeal.</li>
							</ul>


							Every Leader in this commission must seek to have and release oil and wine
							<br />
							<u>Releasing or pouring The oil implies</u>
							<ul>
								<li>
									Recognizing the Holy Spirit/anointing in our services
								</li>
								<li>
									Teaching and ministering the baptism of the Holy Spirit
								</li>
								<li>
									Flowing by faith  (our corporate grace/mandate) in power, to heal and to deliver
								</li>
								<li>
									Flowing in the revelation of God’s word– prayerfully Study for light in the word.
								</li>
								<li>
									Promoting teaching, and encouraging members to flow in the Gifts of the Holy Spirit.
								</li>
								<li>
									pouring The wine
								</li>
							</ul>
							<br />
							<u>Our Leaders are taught to:</u>
							<ul>
								<li>Encourage maturity in quality praise and worship.</li>
								<li>
									Teach our members to live the life of worshippers (Humility and reverence).
								</li>
								<li>
									Teach our members to pray in the spirit everyday at least one hour.
								</li>
								<li> Teach faith, Love, purity and Peace.</li>
								<li>
									Show zeal by example, sacrifice, giving, caring and Evangelism.
								</li>
								<li> Healing wounds</li>
								<li>
									The Samaritan personally attended to a wounded man who was from a race, considered as enemies by his own race.
								</li>
								<li>  We care for all: Sinners, Saints and Strangers.</li>
								<li>
									We covet an anointing that can speak and pour healing into the emotional, physical, and Spiritual wounds of men.
								</li>
								<li>
									We are not too holy to reach the “Unholy”, “faulty” or “messed up” souls.
								</li>
							</ul>

							We never drive people away by hard or uncaring words,
							We rebuke, correct, disciple, build or rebuild men in love
							We care until they are cured remembering the needy, the widows, the orphans and the youths needing direction.

							<br />
							<u>Beasts to Bear</u>
							The Samaritans had mobility. His beast was the conventional vehicle of his days. Each centre should trust for bikes, tri-cycle, buses, cars, trucks etc.
							<u>Strength to Bear</u>
							The Samaritan was a strong man. We have no clear picture of the size of the wounded man but the Samaritan lifted him from the ground all alone and placed him on the beast. Our leaders must be men and women ready to build great physical, mental and spiritual strength.
							We encourage and train members not to be lazy, not to be given to appetites, to redeem precious time, for effective labour in prayer, and profitable kingdom service.
							<br />
							<u>MONEY TO PAY</u>
							The Samaritan gave money to pay for the lodgings and medical expenses of the wounded man.

							We are blessed to help others through prosperity as we spread the love of God. All our leaders are encouraged to trust God to explore business opportunities that will not inhibit their commitment to ministry and take advantage of so many untapped, very virgin resources in our region to
							<ul>
								<li>Set up cashew farms,</li>
								<li>buy lands,</li>
								<li>Do business to raise resources for our mission.</li>
								<li>
									Teach our people to work hard and live right, stand on God’s promises for prosperity, and venture into righteous business envisaged for prosperity with the singular aim to serve the kingdom of God like the Good Samaritan.
								</li>
								<li> Trust God for partners.</li>
							</ul>


							<br />
							<u>JOURNIES TO MAKE</u>
							The Samaritan was a traveler – a man with a journey to make.
							This commission has a clear spiritual mandate to make journeys into communities and nations of the earth to pray for revival, to preach Jesus to disciple men – releasing destinies, and reviving nations. We also teach people how to journey well.  Get set let us Go.
							<br />

							<u>VOLUNTEER MISSIONARIES</u>
							<ul>
								<li> Ministry opportunities are available for interested Christians who are called to serve in ministry and who see the Gospel inn outfit as their perceived platform for serving God.</li>
								<li>  Application for service is subject to scrutiny, prayer, acceptance, training, and orientation before service.</li>
								<li> Skilled Volunteer Missionaries are welcomed to also indicate their interests e.g. Teachers, nurses, trained secretaries, media engineers and sundry technicians.</li>
							</ul>



						</p>


					</div>

					<div class="btn-container">
						<a id="toggle">Read More</a>
					</div>

					<br />
					<br />
					<hr />

					<h3>Our Staff</h3>

					@*<div class="row">

						<div class="col-md-6">
							


						</div>
						<div class="col-md-6">


						</div>
					</div>*@
					
					<div class="row">

						<div class="panel panel-success">
							<div class="panel-heading"> 	<p style="text-align:center"><strong><span style="font-size: 10pt;">STAFF</span></strong></p></div>
							<div class="panel-body">


								<div class="row">
									<div style="text-align:center">


										<p>Ameh and Gloria Amana (Co-ordinators)</p>

										<p>Pst John Teidi and Team</p>
									</div>
									@*<div class="panel-footer"></div>*@
								</div>
							</div>
						</div>



						<div class="panel panel-success">
							<div class="panel-heading"> 	<p style="text-align:center"><strong><span style="font-size: 10pt;">(Resident/pastoral oversight)ZONAL LEADERS</span></strong></p></div>
							<div class="panel-body">


								<div class="row">
									<div style="text-align:center">
										<p>David Omata</p>
										<p>Godwin Ogaji</p>
										<p>Thaddeus Adejo</p>
										<p>Solomon Ocheja</p>
									</div>
									@*<div class="panel-footer"></div>*@
								</div>
							</div>
						</div>



						
						










						@*<div class="panel-footer"></div>*@



						<div class="panel panel-success">
							<div class="panel-heading"> 	<p style="text-align:center"><strong><span style="font-size: 10pt;">OPERATION</span></strong></p></div>
							<div class="panel-body">


								<div class="row">
									<div class="col-md-6">


										<p>John Isaiah (Projects/Electrical)</p>
										<p>Emma Agbaji (Prayer)</p>
										<p>Yakubu Odaudu (Security)</p>
										<p>Jerry Ogohi (Media)</p>
										<p> Noah Agbaji (Music)</p>
										<p>Marvellous Ebiloma (Technical)</p>
										<p>Unenwojo Matthew (Ushering)</p>
										<p>Charles Akubo (Transport)</p>
										<p>Ocholi Yusuf (Registration)</p>
										<p>Arome Okedi (Finance)</p>
									</div>
									<div class="col-md-6">
										<p>Ladi Agada (Children)</p>
										<p>Urah Ikani (Protocol)</p>
										<p>Samuel Omede (Accommodation)</p>
										<p>Grace Matthew (Minister&rsquo;s Kitchen (for Conferences))</p>
										<p>Priscilla Ahiaba (General Kitchen (for Conferences))</p>
										<p>Benjamin Idakwoji (Publicity)</p>
										<p>Daniel Audu (Medical)</p>

									</div>

								</div>







							</div>
							@*<div class="panel-footer"></div>*@
						</div>






					</div>





					@*<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="grid-item staff-item format-standard">
					<div class="grid-item-inner">
						<a href="staff.html" class="media-box">
							<img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt="">
						</a>
						<div class="grid-content">
							<div class="staff-item-name">
								<h5>Ameh Amanana</h5>
								<span class="meta-data">Pastor</span>
							</div>
							<ul class="social-icons-colored">
								<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="grid-item staff-item format-standard">
					<div class="grid-item-inner">
						<a href="staff.html" class="media-box">
							<img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt="">
						</a>
						<div class="grid-content">
							<div class="staff-item-name">
								<h5>Brandon Dean</h5>
								<span class="meta-data">Pastor</span>
							</div>
							<ul class="social-icons-colored">
								<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="grid-item staff-item format-standard">
					<div class="grid-item-inner">
						<a href="staff.html" class="media-box">
							<img src="http://placehold.it/500x300&amp;text=IMAGE+PLACEHOLDER" alt="">
						</a>
						<div class="grid-content">
							<div class="staff-item-name">
								<h5>Elizabeth Hart</h5>
								<span class="meta-data">Events Manager</span>
							</div>
							<ul class="social-icons-colored">
								<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
								<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
								<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
								<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
							</ul>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
						</div>
					</div>
				</div>
			</div>
		</div>*@
					<div class="spacer-20"></div>
				</div>
            </div>
        </div
  
     




















