
<div class="page-header parallax clearfix" style="background-image:url(http://placehold.it/1200x300&amp;text=IMAGE+PLACEHOLDER);">
    <div class="title-subtitle-holder">
        <div class="title-subtitle-holder-inner">
            <h2>Ameh Amana</h2>
        </div>
    </div>
</div>

<div class="lgray-bg breadcrumb-cont">
    <div class="container">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>

            <li class="active">Ameh Amana</li>
        </ol>
    </div>
</div>

<div class="main" role="main">
    <div id="content" class="content full">
        <div class="container">
            <div class="row">
                <div style="text-align:center">

                    <div class="row"> 
                        <p class="col-md-12 drop-caps secondary">Pastor AMEH ABRAHAM AMANA has an apostolic assignment to teach the Word and pray for revival in the nations of the world. He is currently the Lead minister of the Gospel Inn Ministry in Ugwolawo a growing town in kogi State Nigeria, where with Gloria (co-coordinator at Gospel Inn) they make their beautiful home.</p>

                    </div>
                 
                    <br/>
                    <div class="row"> 
                        <div class="col-md-4 col-sm-4" ></div>
                        <img src="~/images/DSC_0045.JPG"  class="col-md-4  col-sm-4 img-rounded img-responsive" style="height:400px " />
                        <div class="col-md-4 col-sm-4"></div>
                    </div>
                    <br/>
                    <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif">His family</h3>
                    <p>Mr and Mrs Ammana are blessed with wonderful kids: Sharon, Deborah, Jesse and Joel. God also gave the family Ojoma Josephine Amedu who has lived as a daughter.</p>
                   
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"><hr/></div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <img src="~/images/DSC_6759.JPG" class="col-md-6" />

                        <img src="~/images/DSC_6752.JPG" class="col-md-6"/>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><hr /></div>
                        <div class="col-md-4"></div>
                    </div>
                
                    <br/>
                    <h3 style="font-family:Verdana, Geneva, Tahoma, sans-serif" >Contact</h3>
               

 
                   <div class="accordion" id="accordionArea">
                        <div class="accordion-group panel col-md-4">
                            <div class="accordion-heading accordionize"> <a class="accordion-toggle active collapsed" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">PHONE<i class="fa fa-angle-down"></i> </a> </div>
                            <div id="oneArea" class="accordion-body collapse" style="height: 296px;">
                                <div class="accordion-inner">
                                    <h3><b>+234</b>-8066311333</h3>
                                    </div>
                            </div>
                        </div>
                        <div class="accordion-group panel col-md-8">
                            <div class="accordion-heading accordionize"> <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea">SOCIAL MEDIA <i class="fa fa-angle-down"></i> </a> </div>
                            <div id="twoArea" class="accordion-body collapse" style="height: 296px;">
                                <div class="accordion-inner">
                                    <p>
                                        <ul class="social-icons-colored inversed">
                                            <li class="facebook"><a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwi7y--S1frhAhUFAWMBHavjAaUQFjAAegQIAhAB&url=https%3A%2F%2Fwww.facebook.com%2Fpublic%2FAmeh-Amana&usg=AOvVaw2HEFthEOBv2l1bu_PauVZI"><i class="fa fa-facebook"></i></a></li>
                                            <li class="vimeo"><a href="http://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
                                           
                                            <li class="twitter"><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                                            <li class="googleplus"><a href="http://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </p>
                                    </div>
                            </div>
                        </div>
                     
                    </div>
            





                    
                   

                    <br />


                </div>
            </div>
        </div>
    </div>
</div>